* {
  padding: 0;
  margin: 0;
}

.App {
 width: 500px;
 margin: 0 auto;
}

input {
  padding: 10px;
  width: 30%
}
button {
  padding: 10px;
  margin: 5px;
}
.task {
  display: flex;
}

.completed {
  text-decoration: line-through;
  color: orange;
}
